nav {
    display: flex;
    margin-bottom: 70px;
    margin-top: 20px;
}
.navigation {
    flex: 75%;
    word-spacing: 50px;
    margin-left: 30%;
}

img {
    flex: 25%;
    padding-left: 100px;
}
button {
    background-color: red;
    border-radius: 5px;
    border: none;
    color: white;
    width: 100px;
    height: 30px;
}
box {
    display: flex;
}

.box1 {
    flex: 30%;
}
.box2 {
    flex: 70%;
    padding-left: 50%;
}
